/* PHONE */
@media screen and (max-width: 767px) {
    /* MAIN PAGE */
    .container {
        width: 428px;
    }
    .Logo {
        width: 103px;
        height: 53px;
    }
  }
  
  /* TABLET */
  
  @media screen and (max-width: 1157px) {
    .container {
      width: 768px;
    }
    .PhotoAndSlogan {
      display: none;
    }
    .MainTexts {
      flex-direction: column;
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .text1 {
      margin-top: 40px;
      margin-left: 1000px;
      width: 500px;
    }
    .text2 {
      margin-top: -110px;
      padding-left: 215px;
      width: 500px;
    }
    .text3 {
      margin-top: 50px;
      margin-left: 215px;
      width: 500px;
      margin-bottom: 40px;
    }
  }